In [1]:
import pandas as pd
df = pd.read_json("this_took_280_minutes.json")
df.head()

,category,channel,video_url,video_id,comments,channel_size,identity,scores
0,Automobiles,https://www.youtube.com/@autofanaticcars,https://www.youtube.com/watch?v=Wqcy9do6YO0,Wqcy9do6YO0,[Wheel Cleaner is In production and pre-order ...,0,1,"[2, 1, 2, 1, 1, 2, 1, 1, 1, 2, 0, 2, 0, 1, 1, ..."
1,Automobiles,https://www.youtube.com/@autofanaticcars,https://www.youtube.com/watch?v=NyNF0MfQN8s,NyNF0MfQN8s,[I know that on my 1122TST it also matters wha...,0,1,"[1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 2, 1, 0, 1, 1, ..."
2,Automobiles,https://www.youtube.com/@autofanaticcars,https://www.youtube.com/watch?v=x3vzurNYbyM,x3vzurNYbyM,"[Can you put it on top of PPF? Thanks, very ha...",0,1,"[1, 0, 1, 2, 0, 0, 1, 1, 1, 2, 2, 1, 2, 0, 1, ..."
3,Automobiles,https://www.youtube.com/@AutoAmateur,https://www.youtube.com/watch?v=qysq4YFOwPw,qysq4YFOwPw,[Hey australian Elon Musk can you show a littl...,0,1,"[1, 2, 1, 2, 2, 0, 2, 0, 1, 0, 0, 2, 1, 1, 2, ..."
4,Automobiles,https://www.youtube.com/@AutoAmateur,https://www.youtube.com/watch?v=B8zgCdINaAs,B8zgCdINaAs,[Excellent tutorial video. Congrats! Maybe two...,0,1,

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 317 entries, 0 to 316
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      317 non-null    object
 1   channel       317 non-null    object
 2   video_url     317 non-null    object
 3   video_id      317 non-null    object
 4   comments      317 non-null    object
 5   channel_size  317 non-null    int64
 6   identity      317 non-null    int64
 7   scores        317 non-null    object
dtypes: int64(2), object(6)
memory usage: 22.3+ KB

In [3]:
counter = 0
for x in range(0,len(df)):
    if len(df["scores"][x]) == 0:
        counter += 1
counter

155

In [4]:
for x in range(0,len(df)):
    if len(df["scores"][x]) == 0:
        df.drop(x,inplace=True)

In [5]:
df.reset_index(drop=True,inplace=True)

In [6]:
counter = 0
for x in range(0,len(df)):
    if len(df["scores"][x]) == 0:
        counter += 1
counter

0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      162 non-null    object
 1   channel       162 non-null    object
 2   video_url     162 non-null    object
 3   video_id      162 non-null    object
 4   comments      162 non-null    object
 5   channel_size  162 non-null    int64
 6   identity      162 non-null    int64
 7   scores        162 non-null    object
dtypes: int64(2), object(6)
memory usage: 10.3+ KB

In [8]:
comment_list = df["comments"].tolist()

In [9]:
count = 0
for x in range(0,len(comment_list)):
    count += len(comment_list[x])

count

110693