In [1]:
import csv
import pandas as pd
from googletrans import Translator, constants
from langdetect import detect
#from google_trans_new import google_translator
# init the Google API translator
translator = Translator()
import langid

In [2]:
# Reading the CSV to DF & showing DF info
df = pd.read_csv('old_town_road.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1265 entries, 0 to 1264
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              1265 non-null   object
 1   vader_neg       1264 non-null   float64
 2   vader_neu       1264 non-null   float64
 3   vader_pos       1264 non-null   float64
 4   vader_compound  1264 non-null   float64
 5   roberta_neg     1264 non-null   float64
 6   roberta_neu     1264 non-null   float64
 7   roberta_pos     1264 non-null   float64
 8   Text            1264 non-null   object
dtypes: float64(7), object(2)
memory usage: 89.1+ KB

In [3]:
# Drop duplicates from text column
df = df.drop_duplicates(subset = ['Text'],keep='first')
print(df)

        Id  vader_neg  vader_neu  vader_pos  vader_compound  roberta_neg  \
0        1      0.000      1.000      0.000          0.0000     0.164698
1        2      0.000      0.000      1.000          0.4404     0.060793
2        3      0.000      1.000      0.000          0.0000     0.400678
3        4      0.000      1.000      0.000          0.0000     0.011754
4        5      0.000      0.911      0.089          0.4824     0.090882
...    ...        ...        ...        ...             ...          ...
1260  1263      0.000      1.000      0.000          0.0000     0.114758
1261  1264      0.000      0.000      0.000          0.0000     0.259181
1262  1265      0.000      1.000      0.000          0.0000     0.230317
1263  1266      0.000      1.000      0.000          0.0000     0.110747
1264  1267      0.403      0.597      0.000         -0.8442     0.870241

      roberta_neu  roberta_pos  \
0        0.707790     0.127512
1        0.329428     0.609779
2        0.560953     0.038368
3        0.117237     0.871009
4        0.845049     0.064069
...           ...          ...
1260     0.772328     0.112914
1261     0.536851     0.203968
1262     0.656872     0.112811
1263     0.804777     0.084477
1264     0.120508     0.009250

                                                   Text
0                                          old tau roud
1                                                  Good
2                                               ‡πÇ‡∏¢‡πà‡∏ß‡∏ß‡∏ß‡∏ß
3                                 Dude you nailed it ü§†üî•
4     DENIEL JETDIEL QUE ES EL KFC Y QUE SE ES MUY D...
...                                                 ...
1260  @Ratio FN  Google translate said U said and it is
1261                                              y e s
1262                                           Comments
1263                                     3 years  later
1264  @–ø—É–¥–µ–ª—å sut you ass up than y the hell or you ...

[1097 rows x 9 columns]

In [4]:
# Droping rows with href URL
df = df[df["Text"].str.contains(r'href=\S+') == False]
df = df[df["Text"].str.contains(r'https:\S+') == False]
print(df)

        Id  vader_neg  vader_neu  vader_pos  vader_compound  roberta_neg  \
0        1      0.000      1.000      0.000          0.0000     0.164698
1        2      0.000      0.000      1.000          0.4404     0.060793
2        3      0.000      1.000      0.000          0.0000     0.400678
3        4      0.000      1.000      0.000          0.0000     0.011754
4        5      0.000      0.911      0.089          0.4824     0.090882
...    ...        ...        ...        ...             ...          ...
1260  1263      0.000      1.000      0.000          0.0000     0.114758
1261  1264      0.000      0.000      0.000          0.0000     0.259181
1262  1265      0.000      1.000      0.000          0.0000     0.230317
1263  1266      0.000      1.000      0.000          0.0000     0.110747
1264  1267      0.403      0.597      0.000         -0.8442     0.870241

      roberta_neu  roberta_pos  \
0        0.707790     0.127512
1        0.329428     0.609779
2        0.560953     0.038368
3        0.117237     0.871009
4        0.845049     0.064069
...           ...          ...
1260     0.772328     0.112914
1261     0.536851     0.203968
1262     0.656872     0.112811
1263     0.804777     0.084477
1264     0.120508     0.009250

                                                   Text
0                                          old tau roud
1                                                  Good
2                                               ‡πÇ‡∏¢‡πà‡∏ß‡∏ß‡∏ß‡∏ß
3                                 Dude you nailed it ü§†üî•
4     DENIEL JETDIEL QUE ES EL KFC Y QUE SE ES MUY D...
...                                                 ...
1260  @Ratio FN  Google translate said U said and it is
1261                                              y e s
1262                                           Comments
1263                                     3 years  later
1264  @–ø—É–¥–µ–ª—å sut you ass up than y the hell or you ...

[1063 rows x 9 columns]

In [ ]:
# Remove or replacing API symbols with originals each one by one
# df = df.replace('&#39;', " ' ", regex = True)
# df = df.replace('&quot;', " ' ", regex = True)
# df = df.replace('&amp;', ' & ', regex = True)
# df = df.replace('&lt;', " < ", regex = True)
# df = df.replace('<b>', ' ', regex = True)
# df = df.replace('<br>', ' ', regex = True)
# df = df.replace('</b>', ' ', regex = True)
# df = df.replace('@', ' ', regex = True)
#print(df)

In [5]:
# Remove or replacing API symbols with originals chained
df.Text = df.Text.str.replace("&#39;", " ' ")\
.str.replace("&amp;", " & ")\
.str.replace("&lt;", " < ")\
.str.replace("&quot;", " ' ")\
.str.replace("<b>", " ")\
.str.replace("<br>", " ")\
.str.replace("</b>", " ")\
.str.replace("@", " ")
print(df)

        Id  vader_neg  vader_neu  vader_pos  vader_compound  roberta_neg  \
0        1      0.000      1.000      0.000          0.0000     0.164698
1        2      0.000      0.000      1.000          0.4404     0.060793
2        3      0.000      1.000      0.000          0.0000     0.400678
3        4      0.000      1.000      0.000          0.0000     0.011754
4        5      0.000      0.911      0.089          0.4824     0.090882
...    ...        ...        ...        ...             ...          ...
1260  1263      0.000      1.000      0.000          0.0000     0.114758
1261  1264      0.000      0.000      0.000          0.0000     0.259181
1262  1265      0.000      1.000      0.000          0.0000     0.230317
1263  1266      0.000      1.000      0.000          0.0000     0.110747
1264  1267      0.403      0.597      0.000         -0.8442     0.870241

      roberta_neu  roberta_pos  \
0        0.707790     0.127512
1        0.329428     0.609779
2        0.560953     0.038368
3        0.117237     0.871009
4        0.845049     0.064069
...           ...          ...
1260     0.772328     0.112914
1261     0.536851     0.203968
1262     0.656872     0.112811
1263     0.804777     0.084477
1264     0.120508     0.009250

                                                   Text
0                                          old tau roud
1                                                  Good
2                                               ‡πÇ‡∏¢‡πà‡∏ß‡∏ß‡∏ß‡∏ß
3                                 Dude you nailed it ü§†üî•
4     DENIEL JETDIEL QUE ES EL KFC Y QUE SE ES MUY D...
...                                                 ...
1260   Ratio FN  Google translate said U said and it is
1261                                              y e s
1262                                           Comments
1263                                     3 years  later
1264   –ø—É–¥–µ–ª—å sut you ass up than y the hell or you ...

[1063 rows x 9 columns]

In [6]:
# Using Google translator to translate non English Language to English
result = []

for value in df["Text"]:
    try:
        if translator.detect(value).lang == "en":
            result.append(value)
        else: 
            result.append(translator.translate(value).text)
    except:
        pass

In [ ]:
# Using Google translator to translate non English Language to English
# result = []

# for value in df["Text"]:
#    try:
#        result.append(translator.translate(value).text)
#    except:
#        pass

In [7]:
# Updating the Text Column with the Translated result
df=pd.DataFrame(result,columns=["Text"])
print(df)

                                                  Text
0                                         old tau roud
1                                                 Good
2                                                   Yo
3                                Dude you nailed it ü§†üî•
4    Deniel Jetdiel that is the KFC and that it is ...
..                                                 ...
866   Ratio FN  Google translate said U said and it is
867                                              y e s
868                                           Comments
869                                     3 years  later
870   –ø—É–¥–µ–ª—å sut you ass up than y the hell or you ...

[871 rows x 1 columns]

In [8]:
# Droping rows with non English words
df=df[df.Text.map(lambda x: x.isascii())]
print(df)

                                                  Text
0                                         old tau roud
1                                                 Good
2                                                   Yo
5                                                  Vdd
6                                         Bananal Zoel
..                                                 ...
865                                              Y e s
866   Ratio FN  Google translate said U said and it is
867                                              y e s
868                                           Comments
869                                     3 years  later

[677 rows x 1 columns]

In [9]:
# Save DF into CSV file
df.to_csv("old_town_road_clean.csv")

In [10]:
# Save DF into JSON file
df.to_json("old_town_road_clean.json")

In [ ]:
translator.translate('ÏïàÎÖïÌïòÏÑ∏Ïöî.').text

In [ ]:
sentence = "Tanzania ni nchi inayoongoza kwa utalii barani afrika"
translate_text = translator.translate(sentence).text

print(translate_text)

In [ ]:
#detection = translator.detect("‡§®‡§Æ‡§∏‡•ç‡§§‡•á ‡§¶‡•Å‡§®‡§ø‡§Ø‡§æ")
#print("Language code:", detection.lang)

In [ ]:

#L = ["Geeksforgeeks is a computer science portal for geeks",
#    "Geeksforgeeks - —ç—Ç–æ –∫–æ–º–ø—å—é—Ç–µ—Ä–Ω—ã–π –ø–æ—Ä—Ç–∞–ª –¥–ª—è –≥–∏–∫–æ–≤",
#    "Geeksforgeeks es un portal inform√°tico para geeks",
#    "GeeksforgeeksÊòØÈù¢ÂêëÊûÅÂÆ¢ÁöÑËÆ°ÁÆóÊú∫ÁßëÂ≠¶Èó®Êà∑",
#    "Geeksforgeeks geeks ‡§ï‡•á ‡§≤‡§ø‡§è ‡§è‡§ï ‡§ï‡§Ç‡§™‡•ç‡§Ø‡•Ç‡§ü‡§∞ ‡§µ‡§ø‡§ú‡•ç‡§û‡§æ‡§® ‡§™‡•ã‡§∞‡•ç‡§ü‡§≤ ‡§π‡•à",
#    "Geeksforgeeks„ÅØ„ÄÅ„ÇÆ„Éº„ÇØÂêë„Åë„ÅÆ„Ç≥„É≥„Éî„É•„Éº„Çø„Éº„Çµ„Ç§„Ç®„É≥„Çπ„Éù„Éº„Çø„É´„Åß„Åô„ÄÇ",
#    ]
 
#for i in L:
     
#    # Language detection
#    print(langid.classify(i))